.future-section {
    min-height: 550px;
    height: 100vh;
    width: 100%;
    background-color: $additionalColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    @media (max-width: 768px) {
        min-height: 600px;
    }

    @media (max-width: 768px) and (orientation: landscape) {
        min-height: 700px;
    }

    @media (max-width: 480px) {
        min-height: 700px;
    }

    @media (max-width: 480px) and (orientation: landscape) {
        min-height: 800px;
    }
}

.future-section-skew-wrapper {
    background-color: white;
    padding: 50px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);

    @media (max-width: 480px) {
        padding: 30px 20px;
    }
}

.future-section-main-text {
    font-size: 3vw;
    padding: 0;
    margin: 0;
    visibility: hidden;

    @media (max-width: 768px) {
        font-size: 5vw;
    }

    @media (max-width: 480px) {
        font-size: 7vw;
    }
}

.future-section-container {
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.future-section-container-single {
    text-align: center;

    p {
        font-size: 2vw;
        padding: 0;
        margin: 10px 0 0 0;

        @media (max-width: 992px) {
            font-size: 2.5vw;
        }

        @media (max-width: 768px) {
            font-size: 3vw;
        }

        @media (max-width: 480px) {
            font-size: 3.2vw;
        }
    }
}

.future-section-container-single-item {
    height: 8vw;
    width: 8vw;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;

    @media (max-width: 1200px) {
        height: 10vw;
        width: 10vw;
    }

    @media (max-width: 992px) {
        height: 12vw;
        width: 12vw;
    }

    @media (max-width: 768px) {
        height: 14vw;
        width: 14vw;
    }

    @media (max-width: 480px) {
        height: 17vw;
        width: 17vw;
    }
}

.item-angularjs {
    background-image: url("../assets/angularjs-logo.png");
}

.item-reactjs {
    background-image: url("../assets/reactjs-logo.png");
}

.item-nodejs {
    background-image: url("../assets/nodejs-logo.png");
}

.item-php {
    background-image: url("../assets/php-logo.png");
}